.ribbon-question {
  margin-top: 15px;
  background-color: @bg-on-bg-inverse-color;
  border-radius: 5px;
  padding: 20px;

  .question-body {
    margin-bottom: 10px;
  }

  .question-title {
    font-weight: bold;
  }

  .question-actions {
    display: flex;
    flex-flow: column;
    align-items: flex-end;

    button:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .question-answer {
    margin-bottom: 10px;
  }
}
